<%-include('./partials/header')%>
<%-include('./partials/navbar')%>

<div class="container mt-5">
    
    <h2><%=notes.title%></h2>
    <p class="mt-5"><%=notes.content%>
    </p>
</div>

<%-include('./partials/footer')%>
